<div class="container">
  <div class="card col-md-6 offset-md-3">
    <div class="card-header">Authentication</div>
    <div class="card-body">
      <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
        <div class="mb-3">
          <label class="form-label"> Username</label>
          <input type="text"  formControlName="username" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label"> Password</label>
          <input type="text"  formControlName="password" class="form-control">
        </div>
        <div class="mb-3">
          <button class="btn btn-primary ">login</button>
        </div>
      </form>
    </div>
  </div>

</div>
