<div class="container">
  <div class="card col-md-5 offset-md-3">
    <div class="card-header">Authentication</div>
    <div class="card-body">
      <!-- {{userFormGroup.value|json}} -->
      <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
      <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
        <div class="mb-3">
          <label class="form-label"> Username</label>
          <input type="text"  formControlName="username" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label"> Password</label>
          <input type="password"  formControlName="password" class="form-control">
        </div>
        <div class="mb-3">
          <button class="btn btn-primary " type="submit">sign in</button>
        </div>
      </form>
    </div>
  </div>

</div>
