<div class="container mt-3 col-md-6 offset-md-3">
  <form [formGroup]="productFormGroup" (ngSubmit)="handleUpdateProduct()" >
    <div class="card">
      <div class="card-header">
        Add product
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label for="" class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name">
          <small *ngIf="productFormGroup.controls['name'].errors && productFormGroup.controls['name'].touched
          " >{{getErrorMessage("Name", productFormGroup.controls['name'].errors)}}</small>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Price</label>
          <input type="text" class="form-control" formControlName="price">
          <small *ngIf="productFormGroup.controls['price'].errors && productFormGroup.controls['price'].touched
          " >{{getErrorMessage("Price", productFormGroup.controls['price'].errors)}}</small>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Promotion</label>
          <input type="checkbox" class="form-check" formControlName="promotion">
        </div>
        <div class="mb-3 d-grid">
          <button [disabled]="!this.productFormGroup.valid" type="submit" class="btn btn-outline-primary">Enregistre</button>
        </div>
      </div>
    </div>

  </form>
</div>

