<div class="container">
  <nav class="p-2 m-2 border border-info" *ngIf="authService.hasRole('ADMIN')">
    <button class="btn btn-outline-success" (click)="handleNewProduct()"><i class="bi bi-file-plus"></i> Add</button>
  </nav>
  <div class="card">
    <div class="card-header">Product list</div>
    <div class="card-body">
      <!-- {{searchFromGroup.value | json }} -->
      <form >
        <form [formGroup]="searchFromGroup" (ngSubmit)="searchProduct()" class="d-flex" role="search">
          <input formControlName="keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </form>
      <table class="table table-hover">
        <thead>

          <ng-template #errors >
            <p>{{errorMessage}}</p>
          </ng-template>

          <tr>
              <th><strong>id</strong></th>
              <th><strong>name</strong></th>
              <th><strong>prices</strong></th>
              <th><strong>promotion</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products" else errors >
              <td>{{p.id}}</td>
              <td>{{p.name}}</td>
              <td>{{p.price}}</td>
              <td >
                  <span *ngIf="p.promotion==true">❤️</span>
              </td>
              <td *ngIf="authService.hasRole('ADMIN')">
                <button (click)="onPromo(p)" class="btn btn-sm btn-primary">
                  <span *ngIf="p.promotion==true">off promo</span>
                  <span *ngIf="p.promotion==false">on promo</span>
                </button>
              </td>
              <td *ngIf="authService.hasRole('ADMIN')">
                <button (click)="deleteProduct(p)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
              <td *ngIf="authService.hasRole('ADMIN')">
                <button (click)="handleEditProduct(p)" class="btn btn-success">
                  <i class="bi bi-clipboard2-check-fill"></i>
                </button>
              </td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <!-- <li *ngFor="let item of [].constructor(this.totalPage); let i=index" >
          <a class="btn btn-primary btn-sm">{{i}}</a>
        </li> -->
      </ul>
    </div>
  </div>

</div>
